<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.hospitalinfection.dao.his.JP003DAO">
    <select id="queryData" resultType="java.util.HashMap">
        select
        a.RID as "ID" ,-- 唯一主键
        b.inhosno as "ZYID"  ,-- 住院号
        b.INTIMES as "VisitId" ,-- 住院次数
        b.PATIENTID as "PatientId" ,-- 病例号
        a.MAIN_FLAG as "DiagnosisTypeMain" ,-- 主要诊断标识
        a.DISE_TYPE as "DiagnosisType" ,-- 诊断类型编号
        d.dictname as "iagnosisTypeName" ,-- 诊断类型名称
        a.DISE_CODE as "DiagnosisNo" ,-- 诊断编号
        a.DISE_NAME as "DiagnosisName" ,-- 诊断名称
        a.crte_time as "DiagnosisDate" ,-- 诊断日期
        c.usercode as "DocId" ,-- 诊断医生工号
        a.CRTER_NAME as "DocName" --诊断医生姓名
        from  IPR_INPATIENTINFO b,com_userinfo c, IPR_DIAGNOSE a
        left join com_dictcodeinfo d on d.typecode='DIAG_TYPE' and a.dise_type=d.dictcode
        left join (select orgcode,inid,listagg(text,',') within GROUP (order by text)  as text from (
        select orgcode ,inid,DISE_CODE||' '||DISE_NAME as text from IPR_DIAGNOSE where orgcode =#{map.OrgCode}) group by orgcode,inid ) e on e.orgcode=a.orgcode and a.inid=e.inid
        where a.orgcode =b.orgcode and
        a.inid=b.inid and
        a.orgcode =c.orgcode and
        a.crter=c.userid and
        a.isvalid='1' and
        a.orgcode=#{map.OrgCode}
        <if test="map.ID!='' and map.ID!=null">and b.inhosno=to_char(#{map.ID})</if>
        <if test="map.StartDate!='' and map.StartDate!=null">and a.crte_time &gt;=to_date(#{map.StartDate},'yyyy-mm-dd hh24:mi:ss')</if>
        <if test="map.EndDate!='' and map.EndDate!=null">and a.crte_time &lt;=to_date(#{map.EndDate},'yyyy-mm-dd hh24:mi:ss')</if>
    </select>
</mapper>