<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.hospitalinfection.dao.his.JP005DAO">
    <select id="queryData" resultType="java.util.HashMap">
        select a.CHARTID as "ID" ,
        a.inid as "ZYID",
        b.intimes as "VisitId",
        b.inhosno as "PatientId",
        a.RECORDDATE as "StoolDate",
        c.dictname as "TemperatureTypeName",
        a.TEMPERATUREVALUE as "TwValue",
        d.PATIENTWEIGHT as "TzValue"
        from  ipr_inpatientinfo b,com_dictcodeinfo c,IPM_TEMPERATURECHART_EXT a
        left join IPM_TEMPERATURECHART d on a.orgcode=d.orgcode and a.inid=d.inid and a.RECORDDATE=d.RECORDDATE
        where a.orgcode=b.orgcode
        and a.inid=b.inid
        and a.TEMPERATURETYPE=c.dictcode
        and c.typecode='TEMPERATURETYPE'
        and a.orgcode=#{map.OrgCode}
        and a.inid=#{map.ID}
        and to_char(a.RECORDDATE,'yyyy-mm-dd')&gt;=#{map.StartDate}
        and to_char(a.RECORDDATE,'yyyy-mm-dd')&lt;=#{map.EndDate}
        group by a.CHARTID,a.inid,b.intimes,b.inhosno ,a.RECORDDATE,c.dictname,a.TEMPERATUREVALUE,d.PATIENTWEIGHT
    </select>
</mapper>