<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.hospitalinfection.dao.his.JP001DAO">
    <select id="queryData" resultType="java.util.HashMap">
        select
        a.DOCNUMBER as "ID" ,-- 唯一主键
        b.inhosno as "ZYID"  ,--住院号
        b.INTIMES as "VisitId"  ,--住院次数
        b.PATIENTID as "PatientId"  ,--病例号
        a.CREATETIME as "EnterDate" , --记录日期
        a.UPDATETIME as "UpdTime"  ,--更新日期
        decode(a.DTYPE,'1','住院病历','2','门诊病历','3','门诊留观病历') as "CaseClass"  ,--病历分类
        a.DOCNUMBER as "BcCode"  ,--病历记录编号
        a.DOCNAME as "BcName"  ,--病历记录名称
        c.content||','||d.content||','||e.content as "CourseContent"  --病历内容
        from ipr_inpatientinfo b,EMR_DOCUMENT  a
        left join EMR_RESOURCES c on a.RID_HEADER=c.rid
        left join EMR_RESOURCES d on a.RID_BODY=d.rid
        left join EMR_RESOURCES e on a.RID_FOOTER=e.rid
        where a.orgcode =b.orgcode and
        a.REGISTERNO=b.inid
        and a.orgcode =#{map.OrgCode}
        <if test="map.ID!='' and map.ID!=null ">and b.inhosno=#{map.ID}</if>
        <if test="map.StartDate!='' and map.StartDate!=null">and a.CREATETIME &gt;=to_date(#{map.StartDate},'yyyy-mm-dd
            hh24:mi:ss')
        </if>
        <if test="map.EndDate!='' and map.EndDate!=null">and a.CREATETIME &lt;=to_date(#{map.EndDate},'yyyy-mm-dd
            hh24:mi:ss')
        </if>
    </select>
</mapper>