<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.lis.Healthplatform_lisDAO">
    <select id="queryJymxb_lis" resultType="java.util.HashMap">
        SELECT c.rid                                     as rid,
               c.org_code                                as orgcode,
               DATE_FORMAT(a.result_date, '%Y-%m-%d %T') as bgrq,
               b.adjustsampletester_code                 as adjustcode,
               b.adjustsampletester_name                 as adjustname,
               c.machine_no                              as machineno,
               c.item_name                               as machinename,
               d.type                                    as type,
               c.result                                  as result,
               f.dict_name                               as unit,
               c.range_value                             as normalrange,
               c.upvalue                                 as normalup,
               c.downvalue                               as normaldown,
               a.iscritical                              as iscritical,
               c.item_code                               as printcode,
               a.patient_type                            as patienttype,
               a.inhosno                                 as inhosno,
               b.in_id                                   as regid,
               b.exe_csqn                                as applyid,
               e.range_value                             as crisisscope,
               e.up_value                                as crisisup,
               e.down_value                              as crisisdown,
               c.flag                                    as flag
        FROM lis_test_reg a
                 LEFT JOIN lis_test_reg_his_item_detail b ON a.org_code = b.org_code
            AND a.reg_id = b.reg_id
            AND b.exe_csqn IS NOT NULL
            AND b.exe_csqn &lt;&gt; ''
                 LEFT JOIN lis_result c ON a.org_code = c.org_code
            AND a.reg_id = c.reg_id
            AND a.machine_code = c.machine_code
            AND a.test_form_no = c.test_form_no
                 LEFT JOIN lis_item d ON c.org_code = d.org_code
            AND c.machine_no = d.machine_item_code
            AND c.machine_code = d.machine_code
                 left join lis_result_warning e
                           on e.org_code = a.org_code and e.reg_id = a.reg_id AND a.machine_code = e.machine_code
                               AND a.test_form_no = e.test_form_no
                 left join lis_dictionary_detail f on f.type_code = 'LIS_ITEM_UNIT' and f.dict_code = c.unit
        WHERE a.is_adjustSample = '1'
          AND a.org_code = #{orgcode}
          AND a.result_date &gt;= str_to_date(#{begtime}, '%Y-%m-%d %T')
          AND a.result_date &lt;= str_to_date(#{endtime}, '%Y-%m-%d %T')

    </select>
</mapper>