<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryZs" resultType="java.util.HashMap">
        select b.inid,
               d.content as text2,
               b.orgcode
        from ipr_inpatientinfo b,
             EMR_DOCUMENT a
                 left join EMR_RESOURCES d on a.RID_BODY = d.rid
        where a.orgcode = b.orgcode
          and a.REGISTERNO = b.inid
          and b.instate &lt;&gt; '0'
          and a.orgcode = #{orgcode}
          and a.CREATETIME &gt;= to_date(#{begtime}, 'YYYY-MM-DD HH24:mi:SS')
          and a.CREATETIME &lt;= to_date(#{endtime}, 'YYYY-MM-DD HH24:mi:SS')
          and a.typecode = 'STD54'
          and a.isvalid = '1'
    </select>
    <select id="query" resultType="java.util.HashMap">
        select a.DOCNUMBER                                    as rid,-- 唯一主键
               b.inid,
               to_char(a.CREATETIME, 'YYYY-MM-DD HH24:mi:SS') as jlrqsj, --记录日期
               d.content                                      as text2,
               b.orgcode
        from ipr_inpatientinfo b,
             EMR_DOCUMENT a
                 left join EMR_RESOURCES d on a.RID_BODY = d.rid
        where a.orgcode = b.orgcode
          and a.REGISTERNO = b.inid
          and b.instate &lt;&gt; '0'
          and a.orgcode = #{orgcode}
          and b.inid in (select inid from PRO_SCBCJL where orgcode = #{orgcode})
          and a.typecode = 'TR00029'
          and a.isvalid = '1'
    </select>
    <delete id="delete">
        delete
        from PRO_SCBCJL
    </delete>

    <insert id="add">
        insert into PRO_SCBCJL(inid, orgcode, zs)
        values (#{inid}, #{orgcode}, #{zs})
    </insert>

    <update id="update">
        update PRO_SCBCJL
        set JLRQSJ=#{map.JLRQSJ},
            BLTD=#{map.BLTD},
            ZDYJ=#{map.ZDYJ},
            ZLJH=#{map.ZLJH}
        where orgcode = #{map.ORGCODE}
          and inid = #{map.INID}
    </update>


    <select id="queryEmr_scbcjl" resultType="java.util.HashMap">
        select a.orgcode                      "YLJGDM",--	医疗机构代码	VARCHAR	22	必填	复合主键：填写医疗机构组织机构代码
               a.inid                         "ZYJZLSH",--	住院就诊流水号	VARCHAR	32	必填	复合主键：患者每次住院的院内唯一标识号
               b.orgname                      "YLJGMC",--	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
               '0'                            "FYDM",--	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
               ''                             "FYMC",--	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
               '8'                            "KLX",--	卡类型	VARCHAR	16	必填	参照CVA5104就诊卡类型
               c.rid                          "KH",--	卡号	VARCHAR	64	必填
               a.OUTDEPTCODE                  "YNKSBM",--	院内科室编码	VARCHAR	50	必填
               a.OUTDEPTNAME                  "YNKSMC",--	院内科室名称	VARCHAR	100	必填
               g.item_id                      "KSMC",--	科室名称	VARCHAR	100	必填
               g.item_name                    "KSBM",--	科室编码	VARCHAR	50	必填	编码。见科室字典表
               d.NURSECELLNAME                "BQMC",--	病区名称	VARCHAR	50	必填
               ''                             "BFH",--	病房号	VARCHAR	10
               d.bedno                        "BCH",--	病床号	VARCHAR	10
               f.jlrqsj                       "JLRQSJ",--	记录日期时间	DATETIME		必填	格式：YYYY-MM-DD HH:MM:SS
               a.patientname                  "HZXM",--	患者姓名	VARCHAR	50	必填
               h.item_id                      "XBDM",--	性别代码	VARCHAR	1	必填	编码。按国标GB/T 2261.1-2003执行
               case
                   when extract(year from a.indate) - extract(year from a.BIRTHDAY) &gt; 1
                       then floor(extract(year from a.indate) - extract(year from a.BIRTHDAY))
                   else 0 end                 "NLS",--	年龄(岁)	NUMERIC	3
               case
                   when extract(year from a.indate) - extract(year from a.BIRTHDAY) &lt; 1 and
                        months_between(a.indate, a.BIRTHDAY) &gt; 1 then floor(months_between(a.indate, a.BIRTHDAY))
                   else 0 end                 "NLY",--	年龄(月)	NUMERIC	3
               case
                   when months_between(a.indate, a.BIRTHDAY) &lt; 1 then floor(a.indate - a.BIRTHDAY)
                   else 0 end                 "NLR",--	年龄(日)	NUMERIC	3
               case
                   when months_between(a.indate, a.BIRTHDAY) &lt; 1 then floor(a.indate - a.BIRTHDAY)
                   else 0 end                 " NLXS",--	年龄(小时)	NUMERIC	3
               f.zs                           "ZS",--	主诉	VARCHAR	1024	必填
               f.bltd                         "BLTD",--	病例特点	VARCHAR	4000
               f.zdyj                         "ZDYJ",--	诊断依据	VARCHAR	4000
               f.zljh                         "ZLJH",--	诊疗计划	VARCHAR	2000
               ''                             "ZYSZGCJG",--	中医“四诊”观察结果	VARCHAR	1024
               ''                             "ZZZF",--	治则治法	VARCHAR	100		字典：GB/T 16751_3_1997治法代码
               j.code                         "YNCBXYZDDM",--	初步诊断-院内西医诊断编码	VARCHAR	128	必填	多个用英文分号“;”分割
               j.name                         "YNCBXYZDMC",--	初步诊断-院内西医诊断名称	VARCHAR	512	必填	多个用正斜杠“/”分割
               j.item_id                      "CBXYZDDM",--	初步诊断-西医诊断编码	VARCHAR	128	必填	参见《疾病分类与代码(ICD-10)》，多个用英文分号“;”分割
               j.item_name                    "CBXYZDMC",--	初步诊断-西医诊断名称	VARCHAR	512	必填	参见《疾病分类与代码(ICD-10)》，多个用正斜杠“/”分割
               ''                             "YNCBZYBMDM",--	初步诊断-院内中医病名代码	VARCHAR	128		多个用英文分号“;”分割
               ''                             "YNCBZYBMMC",--	初步诊断-院内中医病名名称	VARCHAR	512		多个用正斜杠“/”分割
               ''                             "CBZYBMDM",--	初步诊断-中医病名代码	VARCHAR	128		参见GB/T 15657-2021，多个用英文分号“;”分割
               ''                             "CBZYBMMC",--	初步诊断-中医病名名称	VARCHAR	512		参见GB/T 15657-2021，多个用正斜杠“/”分割
               ''                             "YNCBZYZHDM",--	初步诊断-院内中医症候代码	VARCHAR	128		多个用英文分号“;”分割
               ''                             "YNCBZYZHMC",--	初步诊断-院内中医症候名称	VARCHAR	512		多个用正斜杠“/”分割
               ''                             "CBZYZHDM",--	初步诊断-中医症候代码	VARCHAR	128		参见GB/T 15657-2021，多个用英文分号“;”分割
               ''                             "CBZYZHMC",--	初步诊断-中医症候名称	VARCHAR	512		参见GB/T 15657-2021，多个用正斜杠“/”分割
               ''                             "YNJBXYZDDM",--	鉴别诊断-院内西医诊断编码	VARCHAR	128		多个用英文分号“;”分割
               ''                             "YNJBXYZDMC",--	鉴别诊断-院内西医诊断名称	VARCHAR	512		多个用正斜杠“/”分割
               ''                             "JBXYZDDM",--	鉴别诊断-西医诊断编码	VARCHAR	128		参见《疾病分类与代码(ICD-10)》，多个用英文分号“;”分割
               ''                             "JBXYZDMC",--	鉴别诊断-西医诊断名称	VARCHAR	512		参见《疾病分类与代码(ICD-10)》，多个用正斜杠“/”分割
               ''                             "YNJBZYBMDM",--	鉴别诊断-院内中医病名代码	VARCHAR	128		多个用英文分号“;”分割
               ''                             "YNJBZYBMMC",--	鉴别诊断-院内中医病名名称	VARCHAR	512		多个用正斜杠“/”分割
               ''                             "JBZYBMDM",--	鉴别诊断-中医病名代码	VARCHAR	128		参见GB/T 15657-2021，多个用英文分号“;”分割
               ''                             "JBZYBMMC",--	鉴别诊断-中医病名名称	VARCHAR	512		参见GB/T 15657-2021，多个用正斜杠“/”分割
               ''                             "YNJBZYZHDM",--	鉴别诊断-院内中医症候代码	VARCHAR	128		多个用英文分号“;”分割
               ''                             "YNJBZYZHMC",--	鉴别诊断-院内中医症候名称	VARCHAR	512		多个用正斜杠“/”分割
               ''                             "JBZYZHDM",--	鉴别诊断-中医症候代码	VARCHAR	128		参见GB/T 15657-2021，多个用英文分号“;”分割
               ''                             "JBZYZHMC",--	鉴别诊断-中医症候名称	VARCHAR	512		参见GB/T 15657-2021，多个用正斜杠“/”分割
               d.CHADR_NO                     "ZYYSGH",--	住院医师工号	VARCHAR	64
               d.CHADR_NAME                   "ZYYSQM",--	住院医师签名	VARCHAR	50
               i.certno                       "ZYYSSFZHM",--	住院医师身份证号码	VARCHAR	18
               ''                             "SJYSGH",--	上级医师工号	VARCHAR	64
               ''                             "SJYSQM",--	上级医师签名	VARCHAR	50
               ''                             "SJYSSFZHM",--	上级医师身份证号码	VARCHAR	18
               to_char(sysdate, 'YYYY-MM-DD') "TBRQ" --	填报日期	DATETIME		必填	本条数据采集时间，格式YYYY-MM-DD
        from ipr_inpatientinfo a
                 left join (select a.item_id, a.item_name, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202311141512391328016800000000'
                              and b.orgcode = #{orgcode}) g on g.his_item_id = a.OUTDEPTCODE
                 left join (select a.item_id, a.item_name, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202310101602441149584100000000'
        ) h on h.his_item_id = a.sexcode
                 left join (select listagg(a.DISE_CODE, ';') within group(order by a.DISE_CODE) code,
             listagg(a.DISE_NAME,';') within
                            group (order by a.DISE_NAME) name,
                                listagg(b.item_id, ';') within
                            group (order by b.item_id) item_id,
                                listagg(b.item_name, ';') within
                            group (order by b.item_name) item_name, a.inid, a.orgcode
                            FROM ipr_diagnose a
                                left join (select a.item_id, a.item_name, b.his_item_id
                                from si_yt_report_item a,
                                si_yt_report_item_compare b
                                where a.module_rid = b.module_rid
                                and a.type_rid = b.type_rid
                                and a.rid = b.item_rid
                                and a.module_rid = '202310101511361148853000000000'
                                and a.type_rid = '202311281105131392640900000000'
                                and b.orgcode=#{orgcode}
                                ) b
                            on b.his_item_id=a.DISE_CODE
                            where DISE_TYPE='1' and DISE_CLINICD='3'
                            group by inid, orgcode) j
                           on j.orgcode = a.orgcode and j.inid = a.inid,
             com_hospitalinfo b,
             com_patientinfo c,
             inr_receiveinfo d
                 left join com_userinfo i on i.orgcode = d.orgcode and i.usercode = d.CHADR_NO,
             EMR_DOCUMENT e,
             PRO_SCBCJL f
        where a.orgcode = b.orgcode
          and a.orgcode = c.orgcode
          and a.inhosno = c.inhosno
          and a.patientid = c.patientid
          and a.instate &lt;&gt; '0'
          and a.orgcode = d.orgcode
          and a.inid = d.inid
          and a.orgcode = e.orgcode
          and a.inid = e.REGISTERNO
          and e.DTYPE = '1'
          and a.orgcode = f.orgcode
          and a.inid = f.inid

    </select>


</mapper>