<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryJb_ssml" resultType="java.util.HashMap">
         select
           ''  "YLJGDM"	,--	医疗机构代码	VARCHAR	22	必填	复合主键：采用22位“卫生机构代码”
           a.OPRN_OPRT_CODE       "YNSSDM"	,--	院内手术代码	VARCHAR	64	必填	复合主键：院内手术代码
           ''      "YLJGMC"	,--	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
           '0'      "FYDM"	,--	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
            ''     "FYMC"	,--	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
            a.OPRN_OPRT_NAME     "YNSSMC"	,--	院内手术名称	VARCHAR	256	必填	院内手术名称
           ''      "PTZXDM"	,--	平台中心手术代码	VARCHAR	64		参见《手术操作分类代码(ICD-9)》
            ''     "PTZXMC"	,--	平台中心手术名称	VARCHAR	256		参见《手术操作分类代码(ICD-9)》
            '0'     "JLZT"	,--	记录状态	VARCHAR	1	必填	0：正常 1：停用
             to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD')    "TBRQ"	 --	填报日期	DATETIME		必填	本条数据采集时间，格式YYYY-MM-DD
FROM SI_OPRNSTDLIST a
         where a.areacode=#{orgcode} and a.VALIDSTATE='1'
    </select>


</mapper>