<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryJbxmml" resultType="java.util.HashMap">
         select
             a.orgcode "YLJGDM"	,--	医疗机构代码	VARCHAR	22	必填	复合主键：采用22位“卫生机构代码”
             a.ITEMCODE    "XMDM"	,--	项目代码	VARCHAR	64	必填	复合主键
             b.orgcode    "YLJGMC"	,--	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
             '0'   "FYDM"	,--	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
              ''   "FYMC"	,--	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
              ''   "PTZXDM"	,--	平台中心代码	VARCHAR	64		参见《全民健康信息平台医疗服务项目价格表》
              a.ITEMNAME   "XMMC"	,--	项目名称	VARCHAR	100	必填
              a.SPECS   "XMGG"	,--	项目规格	VARCHAR	50
              c.feename   "XMFL"	,--	项目分类	VARCHAR	64		检查费，检验费等
              d.dictname   "XMDW"	,--	项目单位	VARCHAR	64	必填
              round(a.UNITPRICE,4)   "XMDJ"	,--	项目单价	NUMERIC	12,4
                 "ZGXJ"	,--	最高限价	NUMERIC	12,4
              ''   "ZYBZ"	,--	中医标志	VARCHAR	1		0：否 1：是
             a.ISSTOP  "JLZT"	,--	记录状态	VARCHAR	1	必填	0：正常 1：停用
                '' "XMWSDM"	,--	卫生收费代码	VARCHAR	40		卫生行业物价的收费规范统编的代码
               decode(c.itemtype,'3','1','9')  "SFXMLB"	,--	收费项目类别代码	VARCHAR	2	必填	1：医用材料 9：其他
               '0'  "YNZJBZ"	,--	院内自制标志	VARCHAR	1	必填	0：非自制 1：自制
             '0'  "WZYZBZ"	,--	文字医嘱标志	VARCHAR	1	必填	0:非文字医嘱 1：文字医嘱
             '0'   "GHCBZ"	,--	高值耗材标志	VARCHAR	1	必填	0:非高耗材 1：高耗材
             to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD')    "TBRQ"	--	填报日期	DATETIME		必填	本条数据采集时间，格式YYYY-MM-DD
         from com_hospitalinfo b,COM_FEETYPE c,FIN_UNDRUGINFO a
         left join com_dictcodeinfo d on a.STOCKUNIT=d.dictcode and d.typecode='STOCKUNIT'
         where a.orgcode =b.orgcode  and
          a.orgcode =c.orgcode and a.feecode=c.feecode and a.isvalid='1'
  and a.orgcode = #{orgcode}

    </select>


</mapper>