<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryJbbrjbxxb" resultType="java.util.HashMap">
        select a.orgcode                                                     "YLJGDM",--	医疗机构代码	VARCHAR	22	必填	复合主键：采用22位“卫生机构代码”
               a.RID                                                         "YYDAH",--	医院内部档案号	VARCHAR	64	必填	复合主键：指医院内部患者唯一的索引号
               '8'                                                           "KLX",--	卡类型	VARCHAR	16	必填	复合主键：请按照以下优先级顺序填写：1：患者主索引号、2：身份证号、3：医保卡号，如果都没有则填写门诊就诊流水号
               a.RID                                                         "KH",--	卡号	VARCHAR	64	必填	复合主键：卡类型对应的号码
               c.orgname                                                     "YLJGMC",--	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
               '0'                                                           "FYDM",--	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
               ''                                                            "FYMC",--	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
               ''                                                            "WGRFWBM",--	外国人服务编码	VARCHAR	20
               d.item_id                                                     "ZJLX",--	证件类型	VARCHAR	2		参见 CV02.01.101-2022修订版 身份证件类别代码，优先使用身份证
               a.CERTNO                                                      "ZJHM",--	证件号码	VARCHAR	32
               e.item_id                                                     "XB",--	性别	VARCHAR	1	必填	参见 GB/T 2261.1-2003 性别代码表
               substr(a.PATIENTNAME, 0, 10)                                  "XM",--	姓名	VARCHAR	50	必填
               decode(b.PERSON_AREA_FLAG, '1', '0', '2', '1', '3', '1', '9') "HZLX",--	患者类型	VARCHAR	1		0：本地人员 1：外地人员 2：境外人员 9：其他；
               case
                   when a.si_type = 'A' then '01'
                   when a.si_type = 'B' then '02'
                   else '07' end                                             "BXLX",--	医疗费用支付方式	VARCHAR	4	必填	参见CV07.10.003-2022修订版 医疗费用来源类别
               a.si_psn_no                                                   "YBKH",--	医保卡号	VARCHAR	20	条件必填	患者的医保卡的唯一标识，医保患者必填
               ''                                                            "XLDM",--	学历代码	VARCHAR	2		患者受教育最高程度的类别代码， 	参见GB/T 4658-2006-2022修订版
               f.item_id                                                     "HYZK",--	婚姻状况	VARCHAR	3		参见GB/T 2261.2-2003-2022修订版 婚姻状况代码
               to_char(a.BRDY, 'YYYY-MM-DD')                                 "CSRQ",--	出生日期	DATETIME			YYYY-MM-DD
               a.RESIHOME                                                    "CSD",--	出生地	VARCHAR	32		参见 GB/T 2260-2007
               nvl(h.item_id, '01')                                          "MZ",--	民族	VARCHAR	2		参见 GB/T 3304-1991-2022修订版 民族代码表
               i.item_id                                                     "GJ",--	国籍	VARCHAR	3		参见 GB/T 2659-2000
               a.TEL                                                         "DHHM",--	电话号码	VARCHAR	24
               ''                                                            "SJHM",--	手机号码	VARCHAR	20
               ''                                                            "ABOXXDM",--	ABO血型代码	VARCHAR	2		参见 CV04.50.005 ABO血型代码
               ''                                                            "ABOXXMC",--	ABO血型名称	VARCHAR	50
               ''                                                            "RHXXDM",--	Rh血型代码	VARCHAR	2		1：Rh阳性 2：Rh阴性 3：不详
               ''                                                            "RHXXMC",--	Rh血型名称	VARCHAR	50
               a.WORKZIP                                                     "GZDWYB",--	工作单位邮编	VARCHAR	6
               a.WORKNAME                                                    "GZDWMC",--	工作单位名称	VARCHAR	128
               a.WORKHOME                                                    "GZDWDZ",--	工作单位地址	VARCHAR	128
               ''                                                            "ZYLBDM",--	职业类别代码	VARCHAR	3		参见 GB/T 2261.4-2003 职业分类与代码
               nvl(a.HOME,'-')                                                        "JZDZ",--	居住地址	VARCHAR	128	必填	患者本人常住地址的描述
               nvl(substr(a.SI_INSUPLCADMDVS,3),'-')                                            "XZQHDM",--	常住地址-行政区划代码	VARCHAR	6	必填	患者本人常住地址中的县（区）的 6 位行政区划代码
               a.RESIHOME                                                    "HKDZ",--	户口地址	VARCHAR	128
               a.RESIHOME_ZIP                                                "HKDZYB",--	户口地址邮编	VARCHAR	6
               substr(a.LINKMANNAME, 0, 20)                                  "LXRXM",--	联系人姓名	VARCHAR	50
               g.item_id                                                     "LXRGX",--	联系人关系	VARCHAR	3		参见GB/T 4761-2008-2022修订版 家庭关系代码表
               a.LINKMANADDRESS                                              "LXRDZ",--	联系人地址	VARCHAR	128
               ''                                                            "LXRYB",--	联系人邮编	VARCHAR	6
               a.LINKMANTEL                                                  "LXRDH",--	联系人电话	VARCHAR	24
               to_char(a.CRTE_TIME, 'YYYY-MM-DD')                            "YWSCSJ",--	数据生成时间	DATETIME		必填	业务操作获取该患者信息的时间
               to_char(a.UPDT_TIME, 'YYYY-MM-DD')                            "GXSJ",--	更新时间	DATETIME
               a.opter_name                                                  "GXRXM",--	更新人姓名	VARCHAR	50
               ''                                                            "GXRSFZH",--	更新人身份证号	VARCHAR	20
               to_char(sysdate, 'YYYY-MM-DD')                                "TBRQ" --	填报日期	DATETIME		必填	本条数据采集时间，格式YYYY-MM-DD
        from (select PATIENTID, TEL, max(time), PERSON_AREA_FLAG
              from (select PATIENTID, TEL, max(reg_time)time ,PERSON_AREA_FLAG
                    from opr_register b
                    where orgcode =#{orgcode}
                    group by PATIENTID, TEL, PERSON_AREA_FLAG
                    union all
                    select PATIENTID, TEL, max (indate) time, PERSON_AREA_FLAG
                    from ipr_inpatientinfo
                    where orgcode =#{orgcode}
                    group by PATIENTID, TEL, PERSON_AREA_FLAG
                   )
              group by PATIENTID, TEL, PERSON_AREA_FLAG) b,
             com_hospitalinfo c,
             com_patientinfo a
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202311281522551393107200000000') i on i.his_item_id = a.COUNTRYCODE
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202310101521161149402900000000') d on d.his_item_id = a.PSNCERTTYPE
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202310101602441149584100000000') e on e.his_item_id = a.SEXCODE
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202311011354491261411600000000') f on f.his_item_id = a.MARRIED
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202311161530191338672700000000') g on g.his_item_id = a.RELACODE
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202312040850191416618200000000') h on h.his_item_id = a.NATY
        where a.orgcode = c.orgcode
          and a.PATIENTID = b.PATIENTID
          and a.orgcode = #{orgcode}
          and a.CRTE_TIME &gt;= to_date(#{begtime}, 'YYYY-MM-DD HH24:MI:SS')
          and a.CRTE_TIME &lt;= to_date(#{endtime}, 'YYYY-MM-DD HH24:MI:SS')
    </select>

</mapper>