<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryJbyhryxxb" resultType="java.util.HashMap">
        select a.orgcode                                                            "YLJGDM",      --	医疗机构代码	VARCHAR	22	必填	复合主键：采用22位“卫生机构代码”
               b.usercode || b.deptcode                                             "ZGBM",        --	职工编码	VARCHAR	64	必填	复合主键：HIS内部医护人员信息唯一标识。如存在同一人员在多个科室任职的情况，需上传多条记录，职工编码使用“业务数据主键”或“职工编码+所属科室编码”
               c.orgname                                                            "YLJGMC",      --	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
               '0'                                                                  "FYDM",        --	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
               ''                                                                   "FYMC",        --	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
               a.usercode                                                           "GH",          --	工号	VARCHAR	64	必填	医护人员工号
               a.username                                                           "XM",          --	姓名	VARCHAR	50	必填	医护人员姓名
               a.sex                                                                "XB",          --	性别代码	VARCHAR	1	必填	参见GB/T 2261.1-2003 性别代码表
               substr(a.certno, 7, 8)                                               "CSRQ",        --	出生日期	VARCHAR	8		出生日期：格式“YYYYMMDD”
               ''                                                                   "MZDM",        --	民族代码	VARCHAR	2		参见GB/T 3304-1991-2022修订版 民族代码表
               decode(a.PSNCERTTYPE, '01', '01', '16', '03', '08', '03', '02', '04', '04', '06', '05', '06', '06', '07',
                      '99')                                                         "SFBSLBDM",    --	身份标识类别代码	VARCHAR	2		参见CV02.01.101-2022修订版 身份证件类别代码
               a.certno                                                             "SFBSHM",      --身份标识号码	VARCHAR	32
               a.deptcode                                                           "SSKS",        --所属科室代码	VARCHAR	50	必填	所属科室代码
               d.deptname                                                           "SSKSMC",      --	所属科室名称	VARCHAR	100	必填	所属科室名称
               a.deptcode                                                           "SSZXKSDM",    --	所属中心科室代码	VARCHAR	50	必填	参见《全民健康信息平台科室分类代码表》
               ''                                                                   "KSLB",        --	平台科室类别	VARCHAR	1		A：医疗机构诊疗科目名录(以A开头)  B：疾病预防控制中心业务科室分类与代码(以B开头)C：卫生监督机构业务科室分类与代码(以C开头) D：卫生机构管理科室分类与代码(以D开头)
               a.docpost                                                            "ZWDM",        --	职务代码	VARCHAR	32		参见GB/T8561-2001 专业技术职务代码
               e.dictname                                                           "ZWMC",        --	职务名称	VARCHAR	32
               ''                                                                   "ZCDM",        --	职称代码	VARCHAR	32		1：正高 2：副高 3：中级 4：师级/助理 5：士级 6：待聘 7：社区正高 8：社区副高
               ''                                                                   "ZCHENGMC",    --	职称名称	VARCHAR	32
               ''                                                                   "ZY",          --	专业	VARCHAR	32		参见GB/T 16835-1997 专业代码
               decode(a.usertype, '1', '11', '2', '21', '5', '31', '6', '41', '99') "RYLB",        --	人员类别	VARCHAR	64	必填	11：执业医师 12：执业助理医师 13：见习医师 14：乡镇执业助理医师 21：注册护士 22：助产士 23：未注册护士 31：西药师(士) 32：中药师(士) 41：检验技师(士) 42：影像技师(士) 50：卫生监督员 69：其他卫生技术人员 70：其他技术人员 80：管理人员 90：工勤技能人员 91：健康照护员 92：医疗照护员 99：其他人员
               ''                                                                   "EMAIL",       --	邮箱地址	VARCHAR	50
               ''                                                                   "JTDZ",        --	家庭地址	VARCHAR	200
               ''                                                                   "YZBM",        --	邮政编码	VARCHAR	6
               ''                                                                   "DHHM",        --	电话号码	VARCHAR	20
               a.mob                                                                "SJHM1",       --	手机号码	VARCHAR	20
               ''                                                                   "YSJJ",        --	医生简介	VARCHAR	4000
               decode(d.isreg, '1', '0', '0', '1')                                  "GHZT",        --	是否可挂号	VARCHAR	1	必填	0：可挂号 1：不可挂号
               ''                                                                   "WHCD",        --	文化程度代码	VARCHAR	2		参见 GB/T 4658-2006-2022修订版 学历代码表
               ''                                                                   "XWDM",        --	学位代码	VARCHAR	1		1：名誉博士 2：博士 3：硕士 4：学士
               ''                                                                   "XZGLZWDM",    --	行政管理职务代码	VARCHAR	1		1：单位正职领导 2：单位副职领导 3：中层正职 4：中层副职
               ''                                                                   "XZGLZWMC",    --	行政管理职务名称	VARCHAR	64
               ''                                                                   "GW",          --	岗位	VARCHAR	64
               a.praccertino                                                        "ZYZSH",       --	执业证书号	VARCHAR	64
               ''                                                                   "ZYZGMC",      --	执业资格名称	VARCHAR	64
               ''                                                                   "ZYZSZCSJ",    --	执业证书注册时间	DATETIME
               ''                                                                   "QKYSBZ",      --	是否为全科医生	INT			0：否 1：是
               ''                                                                   "YSZYLBDM",    --	医师执业类别代码	VARCHAR	1		1：临床 2：口腔 3：公共卫生 4：中医
               ''                                                                   "YSZYFWDM",    --	医师执业范围代码	VARCHAR	30		参见《全民健康信息平台科室分类代码表》
               ''                                                                   "ZCWDDZYYSBZ", --	是否注册为多地点执业医师	INT			0：否 1：是
               ''                                                                   "D2ZYDWLBDM",  --	第2执业单位类别代码	VARCHAR	1		1：医院 2：乡镇卫生院 3：社区卫生服务中心/站 9：其他医疗机构
               ''                                                                   "DSZYDWLBDM",  --	第3执业单位类别代码	VARCHAR	1		1：医院 2：乡镇卫生院 3：社区卫生服务中心/站 9：其他医疗机构
               '19'                                                                 "RYDRQK",      --	人员调入情况	VARCHAR	2	必填	11：高中等院校毕业生 12：其他卫生机构调入 13：非卫生机构调入 14：军转人员 19：其他
               ''                                                                   "RYDCQK",      --	人员调出情况	VARCHAR	2		22：考取研究生 23：出国留学 24：退休 25：辞职26：自然减员 27：辞退 29：其他 31：调往本市本系统 32：调往本市外系统 33：调往外市本系统 34：调往外市外系统
               ''                                                                   "DRSJ",        --	调入时间	DATETIME
               ''                                                                   "DCSJ",        --	调出时间	DATETIME
               ''                                                                   "CJGZRQ",      --	参加工作日期	VARCHAR	6		YYYYMM
               '2'                                                                  "BZQK",        --	编制情况	VARCHAR	1	必填	1：编制内 2：合同制 3：临聘人员 4：返聘
               '1'                                                                  "GZZT",        --	工作状态	VARCHAR	2	必填	1：在岗 2：停薪留职 3：长病假 4：借出外系统
               ''                                                                   "PXLB",        --	培训类别	VARCHAR	2		1：住院医师培训 2：全科医生培训
               ''                                                                   "SYQBZ",       --	是否试用期	VARCHAR	2		0：否 1：是
               ''                                                                   "ZZMM",        --	政治面貌	VARCHAR	2		1：中共党员（含预备党员） 2：共青团员 3：群众 4：民主党派
               ''                                                                   "GWJB",        --	岗位级别	VARCHAR	2		1：一级 2：二级 3：三级 4：四级 5：五级 6：六级 7：七级 8：八级 9：九级 10：十级 11：十一级 12：十二级 13：十三级 0：普通工
               '0'                                                                  "SFNRQKYSPX",  --	纳入全科医生培训标志	VARCHAR	1	必填	0：未纳入 1：已纳入
               ''                                                                   "QKYSZCZSH",   --	全科医生注册证书号	VARCHAR	50
               ''                                                                   "QKYSZCZSSJ",  --	全科医生注册证书时间	DATETIME
               ''                                                                   "ZCZSH",       --	注册证书号	VARCHAR	50
               ''                                                                   "ZCSJ",        --	注册时间	DATETIME
               ''                                                                   "SFPY",        --	是否聘用	VARCHAR	1		0：否 1：是
               ''                                                                   "XPGWSJ",      --	现聘岗位时间	DATETIME
               ''                                                                   "DCDDDM",      --	调出地点代码	VARCHAR	50
               ''                                                                   "DCDDMC",      --	调出地点名称	VARCHAR	100
               ''                                                                   "JCSJ",        --	借出时间	DATETIME
               ''                                                                   "JCDWDM",      --	借出单位代码	VARCHAR	50
               ''                                                                   "JCDWMC",      --	借出单位名称	VARCHAR	100
               to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD')                "TBRQ"         --	填报日期	DATETIME		必填	本条数据采集时间，格式YYYY-MM-DD
        from COM_USER_DEPTINFO b,
             com_hospitalinfo c,
             com_deptinfo d,
             com_userinfo a
                 left join com_dictcodeinfo e on a.docpost = e.dictcode and e.typecode = 'DOCPOST'
        where a.orgcode = b.orgcode
          and a.usercode = b.usercode
          and a.isvalid = '1'
          and a.is_stop='0'
          and a.orgcode = c.orgcode
          and b.orgcode = d.orgcode
          and b.deptcode = d.deptcode
          and d.isvalid = '1'
          and a.orgcode = #{orgcode}
    </select>


</mapper>