<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryMzsfjlbsf" resultType="java.util.HashMap">
        select a.orgcode                                                                       "YLJGDM",--  医疗机构代码  VARCHAR 22  必填  复合主键：采用22位“卫生机构代码”
               a.CHRG_BCHNO                                                                    "SFLSH",-- 收费流水号 VARCHAR 64  必填  复合主键
               a.TRANSTYPE                                                                     "TFBZ",--  退费标志  VARCHAR 1 必填  复合主键：   “1”：正常收费情况的费用   “2”：对已填报的某一条具有相同“收费流水号”的正常收费进行退费
               a.regid                                                                         "JZLSH",-- 就诊流水号 VARCHAR 32  必填  复合主键：关联《门诊就诊记录表》
               b.orgname                                                                       "YLJGMC",--  医疗机构名称  VARCHAR 70  必填  医院执业许可第一名称
               '0'                                                                             "FYDM",--  分院代码  VARCHAR 20  必填  记录分院代码（内码）,如无分院，则传0
               ''                                                                              "FYMC",--  分院名称  VARCHAR 120 条件必填  分院代码不为0时必填
               a.INVOICENO                                                                     "FPH",-- 发票号 VARCHAR 64  必填  超过一张发票时，用英文分号“;”分割
               '1'                                                                             "KLX",-- 卡类型 VARCHAR 16  必填  请按照以下优先级顺序填写：1：患者主索引号、2：身份证号、3：医保卡号，如果都没有则填写门诊就诊流水号
               c.rid                                                                           "KH",--  卡号  VARCHAR 64  必填
               f.item_id                                                                       "ZJLX",--  证件类型  VARCHAR 2   参见CV02.01.101-2022修订版 身份证件类别代码  优先使用身份证
               d.certno                                                                        "ZJHM",--  证件号码  VARCHAR 32
               a.NAME                                                                          "XM",--  姓名  VARCHAR 50  必填
               '100'                                                                           "JZLXDM",--  就诊类型代码  VARCHAR 3 必填  见CVA5101_01就诊类型代码
               case
                   when a.PAYKINDCODE = '01' then '07'
                   when a.PAYKINDCODE = '02' and d.INSUTYPE = 'A' then '01'
                   when a.PAYKINDCODE = '02' and d.INSUTYPE = 'B' then '02'
                   else '99' end                                                               "BXLX",--  医疗费用支付方式  VARCHAR 4 必填  参见CV07.10.003-2022修订版 医疗费用来源类别
               a.MCARDNO                                                                       "YBZHBZ",--  医保账户标识  VARCHAR 64  条件必填  医保账号，医保患者必填
               decode(d.PERSON_AREA_FLAG, '1', '1', '2', '2', '3', '2', '5')                   "WDBZ",--  外地标志  VARCHAR 1   1：本市 2：外地 3：境外（港澳台） 4：外国 5：未知
               to_date(to_char(a.CRTE_TIME, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') "SFSJ",--  收费时间  DATETIME    必填
               ''                                                                              "TFSJ",--  退费时间  DATETIME
               d.DEPTCODE                                                                      "YNJZKSDM",--  院内费用发生科室代码  VARCHAR 50  必填
               d.DEPTNAME                                                                      "YNJZKSMC",--  院内费用发生科室名称  VARCHAR 100 必填
               '-'                                                                             "JZKSDM",--  中心费用发生科室代码  VARCHAR 50  必填  《全民健康信息平台科室分类代码表》
               '-'                                                                             "JZKSMC",--  中心费用发生科室名称  VARCHAR 100 必填  《全民健康信息平台科室分类代码表》
               round(a.totcost, 3)                                                             "ZJE",-- 总金额 NUMERIC 18,3  必填  医院实际收取的费用     退费标志为2（退费）时，传负数
               null                                                                            "YBJE",--  医保结算范围金额  NUMERIC 18,3  必填  医保结算范围金额
               nvl(round(a.PUBCOST, 3), 0)                                                     "YBZFJE",--  医保支付金额  NUMERIC 18,3  必填  医保实际报销支付金额，如无，则填写0  退费标志为2（退费）时，传负数
               nvl(round(a.OWNCOST, 3), 0)                                                     "ZFJE",--  个人现金支付金额  NUMERIC 18,3  必填  非医保报销范围，由患者个人自付的医疗费用总额  退费标志为2（退费）时，传负数
               nvl(round(a.PAYCOST, 3), 0)                                                     "FLZJJE",--  个人账户支付金额  NUMERIC 18,3  必填  医疗保险患者的费用中属于个人支付部分的金额   退费标志为2（退费）时，传负数
               nvl(round(d.reg_cost, 3), 0)                                                    "GHF",-- 挂号费 NUMERIC 18,3    退费标志为2（退费）时，传负数
               e.ZCF                                                                           "ZCF",-- 诊察费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.JCF                                                                           "JCF",-- 检查费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.HYF                                                                           "HYF",-- 化验费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZHILF                                                                         "ZHILF",-- 治疗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.SSF                                                                           "SSF",-- 手术费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.WSCLF                                                                         "WSCLF",-- 卫生材料费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.XYF                                                                           "XYF",-- 西药费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               0                                                                               "YMF",-- 疫苗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZYYPF                                                                         "ZYYPF",-- 中药饮片费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZCHYF                                                                         "ZCHYF",-- 中成药费  NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZHENLF                                                                        "ZHENLF",--  一般诊疗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.QTF                                                                           "QTF",-- 其他门急诊费  NUMERIC 18,3  必填  除以上费用外的其他门急诊费用  退费标志为2（退费）时，传负数
               a.OPTER_CODE                                                                    "SFCZYGH",-- 收费操作员工号 VARCHAR 64  必填
               a.OPTER_NAME                                                                    "SFCZYXM",-- 收费操作员姓名 VARCHAR 50  必填
               g.certno                                                                        "SFCZYSFZHM",--  收费操作员身份证号码  VARCHAR 18
               to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD')                           "TBRQ" --  填报日期  DATETIME   必填 本条数据采集时间，格式YYYY-MM-DD
        from com_hospitalinfo b,
             com_patientinfo c,
             (select orgcode,
                     invoiceno,
                     regid,
                     sum(ZCF)    ZCF,
                     sum(JCF)    JCF,
                     sum(HYF)    HYF,
                     sum(ZHILF)  ZHILF,
                     sum(SSF)    SSF,
                     sum(WSCLF)  WSCLF,
                     sum(XYF)    XYF,
                     sum(ZYYPF)  ZYYPF,
                     sum(ZCHYF)  ZCHYF,
                     sum(ZHENLF) ZHENLF,
                     sum(QTF)    QTF,
                     TRANSTYPE
              from (
                       select a.orgcode,
                              a.itemcode,
                              a.invoiceno,
                              a.regid,
                              decode(d.invocode, '02', round(sum(a.totcost), 3), 0) ZCF,
                              decode(d.invocode, '03', round(sum(a.totcost), 3), 0) JCF,
                              decode(d.invocode, '04', round(sum(a.totcost), 3), 0) HYF,
                              decode(d.invocode, '05', round(sum(a.totcost), 3), 0) ZHILF,
                              decode(d.invocode, '06', round(sum(a.totcost), 3), 0) SSF,
                              decode(d.invocode, '08', round(sum(a.totcost), 3), 0) WSCLF,
                              decode(d.invocode, '09', round(sum(a.totcost), 3), 0) XYF,
                              decode(d.invocode, '10', round(sum(a.totcost), 3), 0) ZYYPF,
                              decode(d.invocode, '11', round(sum(a.totcost), 3), 0) ZCHYF,
                              decode(d.invocode, '12', round(sum(a.totcost), 3), 0) ZHENLF,
                              decode(d.invocode, '14', round(sum(a.totcost), 3), 0) QTF,
                              a.TRANSTYPE
                       from OPB_FEEDETAIL a
                                join
                            (select orgcode, itemcode, feecode
                             from fin_undruginfo
                             union all
                             select orgcode, drugcode, feecode
                             from pha_druginfo
                             union all
                             select orgcode, MEDLISTCODG, feecode
                             from pha_medcon
                            ) b on a.orgcode = b.orgcode and a.itemcode = b.itemcode
                                join com_feetype c on c.orgcode = b.orgcode and c.feecode = b.feecode
                                join com_fee_invo_compare d
                                     on d.orgcode = c.orgcode and d.feecode = c.feecode and d.statcode = 'MZ01'
                       group by a.orgcode, a.itemcode, a.invoiceno, a.regid, d.invocode,
                                a.TRANSTYPE)
              group by orgcode, invoiceno, regid, TRANSTYPE) e,
             OPB_INVOICEINFO a
                 left join com_userinfo g on a.orgcode = g.orgcode and a.OPTER_CODE = g.usercode,
             opr_register d
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202310101602441149584100000000') f
                           on f.his_item_id = d.PSNCERTTYPE
        where a.orgcode = b.orgcode
          and a.orgcode = d.orgcode
          and a.regid = d.regid
          and c.orgcode = d.orgcode
          and c.patientno = d.patientno
          and c.patientid = d.patientid
          and a.orgcode = e.orgcode
          and a.regid = e.regid
          and a.INVOICENO = a.INVOICENO
          and a.TRANSTYPE = e.TRANSTYPE
          and a.TRANSTYPE = '1'
          and a.orgcode = #{orgcode}
          and to_char(a.CRTE_TIME, 'yyyy-mm-dd hh24:mi:ss') &gt;= #{begtime}
          and to_char(a.CRTE_TIME, 'yyyy-mm-dd hh24:mi:ss') &lt;= #{endtime}
    </select>
    <select id="queryMzsfjlbtf" resultType="java.util.HashMap">
        select a.orgcode                                                                        "YLJGDM",--	医疗机构代码	VARCHAR	22	必填	复合主键：采用22位“卫生机构代码”
               a.CHRG_BCHNO                                                                     "SFLSH",--	收费流水号	VARCHAR	64	必填	复合主键
               a.TRANSTYPE                                                                      "TFBZ",--	退费标志	VARCHAR	1	必填	复合主键： 	“1”：正常收费情况的费用 	“2”：对已填报的某一条具有相同“收费流水号”的正常收费进行退费
               a.regid                                                                          "JZLSH",--	就诊流水号	VARCHAR	32	必填	复合主键：关联《门诊就诊记录表》
               b.orgname                                                                        "YLJGMC",--	医疗机构名称	VARCHAR	70	必填	医院执业许可第一名称
               '0'                                                                              "FYDM",--	分院代码	VARCHAR	20	必填	记录分院代码（内码）,如无分院，则传0
               ''                                                                               "FYMC",--	分院名称	VARCHAR	120	条件必填	分院代码不为0时必填
               a.INVOICENO                                                                      "FPH",--	发票号	VARCHAR	64	必填	超过一张发票时，用英文分号“;”分割
               '1'                                                                              "KLX",--	卡类型	VARCHAR	16	必填	请按照以下优先级顺序填写：1：患者主索引号、2：身份证号、3：医保卡号，如果都没有则填写门诊就诊流水号
               c.rid                                                                            "KH",--	卡号	VARCHAR	64	必填
               f.item_id                                                                        "ZJLX",--	证件类型	VARCHAR	2		参见CV02.01.101-2022修订版 身份证件类别代码 	优先使用身份证
               d.certno                                                                         "ZJHM",--	证件号码	VARCHAR	32
               a.NAME                                                                           "XM",--	姓名	VARCHAR	50	必填
               '100'                                                                            "JZLXDM",--	就诊类型代码	VARCHAR	3	必填	见CVA5101_01就诊类型代码
               case
                   when a.PAYKINDCODE = '01' then '07'
                   when a.PAYKINDCODE = '02' and d.INSUTYPE = 'A' then '01'
                   when a.PAYKINDCODE = '02' and d.INSUTYPE = 'B' then '02'
                   else '99' end                                                                "BXLX",--	医疗费用支付方式	VARCHAR	4	必填	参见CV07.10.003-2022修订版 医疗费用来源类别
               a.MCARDNO                                                                        "YBZHBZ",--	医保账户标识	VARCHAR	64	条件必填	医保账号，医保患者必填
               decode(d.PERSON_AREA_FLAG, '1', '1', '2', '2', '3', '2', '5')                    "WDBZ",--	外地标志	VARCHAR	1		1：本市 2：外地 3：境外（港澳台） 4：外国 5：未知
               to_date(to_char(a.CRTE_TIME, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')  "SFSJ",--	收费时间	DATETIME		必填
               to_date(to_char(a.OPTER_TIME, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') "TFSJ",--	退费时间	DATETIME
               d.DEPTCODE                                                                       "YNJZKSDM",--	院内费用发生科室代码	VARCHAR	50	必填
               d.DEPTNAME                                                                       "YNJZKSMC",--	院内费用发生科室名称	VARCHAR	100	必填
               '-'                                                                              "JZKSDM",--	中心费用发生科室代码	VARCHAR	50	必填	《全民健康信息平台科室分类代码表》
               '-'                                                                              "JZKSMC",--	中心费用发生科室名称	VARCHAR	100	必填	《全民健康信息平台科室分类代码表》
               round(a.totcost, 3)                                                              "ZJE",-- 总金额 NUMERIC 18,3  必填  医院实际收取的费用     退费标志为2（退费）时，传负数
               null                                                                             "YBJE",--  医保结算范围金额  NUMERIC 18,3  必填  医保结算范围金额
               nvl(round(a.PUBCOST, 3), 0)                                                      "YBZFJE",--  医保支付金额  NUMERIC 18,3  必填  医保实际报销支付金额，如无，则填写0  退费标志为2（退费）时，传负数
               nvl(round(a.OWNCOST, 3), 0)                                                      "ZFJE",--  个人现金支付金额  NUMERIC 18,3  必填  非医保报销范围，由患者个人自付的医疗费用总额  退费标志为2（退费）时，传负数
               nvl(round(a.PAYCOST, 3), 0)                                                      "FLZJJE",--  个人账户支付金额  NUMERIC 18,3  必填  医疗保险患者的费用中属于个人支付部分的金额   退费标志为2（退费）时，传负数
               nvl(round(d.reg_cost, 3), 0)                                                     "GHF",-- 挂号费 NUMERIC 18,3    退费标志为2（退费）时，传负数
               e.ZCF                                                                            "ZCF",-- 诊察费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.JCF                                                                            "JCF",-- 检查费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.HYF                                                                            "HYF",-- 化验费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZHILF                                                                          "ZHILF",-- 治疗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.SSF                                                                            "SSF",-- 手术费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.WSCLF                                                                          "WSCLF",-- 卫生材料费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.XYF                                                                            "XYF",-- 西药费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               0                                                                                "YMF",-- 疫苗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZYYPF                                                                          "ZYYPF",-- 中药饮片费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZCHYF                                                                          "ZCHYF",-- 中成药费  NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.ZHENLF                                                                         "ZHENLF",--  一般诊疗费 NUMERIC 18,3  必填  退费标志为2（退费）时，传负数
               e.QTF                                                                            "QTF",-- 其他门急诊费  NUMERIC 18,3  必填  除以上费用外的其他门急诊费用  退费标志为2（退费）时，传负数
               a.OPTER_CODE                                                                     "SFCZYGH",--	收费操作员工号	VARCHAR	64	必填
               a.OPTER_NAME                                                                     "SFCZYXM",--	收费操作员姓名	VARCHAR	50	必填
               g.certno                                                                         "SFCZYSFZHM",--	收费操作员身份证号码	VARCHAR	18
               to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD')                            "TBRQ" --	填报日期	DATETIME	 必填	本条数据采集时间，格式YYYY-MM-DD
        from com_hospitalinfo b,
             com_patientinfo c,
             (select orgcode,
                     invoiceno,
                     regid,
                     sum(ZCF)    ZCF,
                     sum(JCF)    JCF,
                     sum(HYF)    HYF,
                     sum(ZHILF)  ZHILF,
                     sum(SSF)    SSF,
                     sum(WSCLF)  WSCLF,
                     sum(XYF)    XYF,
                     sum(ZYYPF)  ZYYPF,
                     sum(ZCHYF)  ZCHYF,
                     sum(ZHENLF) ZHENLF,
                     sum(QTF)    QTF,
                     TRANSTYPE
              from (
                       select a.orgcode,
                              a.itemcode,
                              a.invoiceno,
                              a.regid,
                              decode(d.invocode, '02', round(sum(a.totcost), 3), 0) ZCF,
                              decode(d.invocode, '03', round(sum(a.totcost), 3), 0) JCF,
                              decode(d.invocode, '04', round(sum(a.totcost), 3), 0) HYF,
                              decode(d.invocode, '05', round(sum(a.totcost), 3), 0) ZHILF,
                              decode(d.invocode, '06', round(sum(a.totcost), 3), 0) SSF,
                              decode(d.invocode, '08', round(sum(a.totcost), 3), 0) WSCLF,
                              decode(d.invocode, '09', round(sum(a.totcost), 3), 0) XYF,
                              decode(d.invocode, '10', round(sum(a.totcost), 3), 0) ZYYPF,
                              decode(d.invocode, '11', round(sum(a.totcost), 3), 0) ZCHYF,
                              decode(d.invocode, '12', round(sum(a.totcost), 3), 0) ZHENLF,
                              decode(d.invocode, '14', round(sum(a.totcost), 3), 0) QTF,
                              a.TRANSTYPE
                       from OPB_FEEDETAIL a
                                join
                            (select orgcode, itemcode, feecode
                             from fin_undruginfo
                             union all
                             select orgcode, drugcode, feecode
                             from pha_druginfo
                             union all
                             select orgcode, MEDLISTCODG, feecode
                             from pha_medcon
                            ) b on a.orgcode = b.orgcode and a.itemcode = b.itemcode
                                join com_feetype c on c.orgcode = b.orgcode and c.feecode = b.feecode
                                join com_fee_invo_compare d
                                     on d.orgcode = c.orgcode and d.feecode = c.feecode and d.statcode = 'MZ01'
                       group by a.orgcode, a.itemcode, a.invoiceno, a.regid, d.invocode,
                                a.TRANSTYPE)
              group by orgcode, invoiceno, regid, TRANSTYPE) e,
             OPB_INVOICEINFO a
                 left join com_userinfo g
                           on a.orgcode = g.orgcode and a.OPTER_CODE = g.usercode,
             opr_register d
                 left join (select a.item_id, b.his_item_id
                            from si_yt_report_item a,
                                 si_yt_report_item_compare b
                            where a.module_rid = b.module_rid
                              and a.type_rid = b.type_rid
                              and a.rid = b.item_rid
                              and a.module_rid = '202310101511361148853000000000'
                              and a.type_rid = '202310101602441149584100000000') f on f.his_item_id = d.PSNCERTTYPE
        where a.orgcode = b.orgcode
          and a.orgcode = d.orgcode
          and a.regid = d.regid
          and c.orgcode = d.orgcode
          and c.patientno = d.patientno
          and c.patientid = d.patientid
          and a.orgcode = e.orgcode
          and a.regid = e.regid
          and a.INVOICENO = a.INVOICENO
          and a.TRANSTYPE = e.TRANSTYPE
          and a.TRANSTYPE = '2'
          and a.orgcode = #{orgcode}
          and to_char(a.OPTER_TIME
                  , 'yyyy-mm-dd hh24:mi:ss') &gt;= #{begtime}
          and to_char(a.OPTER_TIME
                  , 'yyyy-mm-dd hh24:mi:ss') &lt;= #{endtime}
    </select>

</mapper>