<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryMzsfjlb" resultType="java.util.HashMap">
        select
            a.orgcode                                                           "YLJGDM",   --医疗机构代码		VARCHAR 22  必填		复合主键: 采用22位"卫生机构代码"
            a.invoiceno                                                         "SFLSH",    --收费流水号		    VARCHAR 64  必填		复合主键
            a.transtype                                                         "TFBZ",     --退费标志			VARCHAR 1   必填		复合主键: 1 - 正常收费情况的费用   2 - 对已填报的某一条具有相同"收费流水号"的正常收费进行退费
            a.regid                                                             "JZLSH",    --就诊流水号		    VARCHAR 32  必填		复合主键: 关联《门诊就诊记录表》
            a2.orgname                                                          "YLJGMC",   --医疗机构名称		VARCHAR 70  必填		医院执业许可第一名称
            '0'                                                                 "FYDM",     --分院代码			VARCHAR 20  必填		记录分院代码(内码), 如无分院, 则传0.
            ''                                                                  "FYMC",     --分院名称			VARCHAR 120 条件必填	分院代码不为0时必填
            a.invoiceno                                                         "FPH",	    --发票号			    VARCHAR 64	必填		超过一张发票时, 用英文分号";"分割
            '1'                                                                 "KLX",	    --卡类型			    VARCHAR 16	必填		请按照以下优先级顺序填写 1:患者主索引号 2:身份证号 3:医保卡号 如果都没有则填写门诊就诊流水号
            a.regid                                                             "KH",	    --卡号			    VARCHAR 64	必填
            '01'                                                                "ZJLX",	    --证件类型			VARCHAR 2			参见CV02.01.101-2022修订版 身份证件类别代码  优先使用身份证
            a3.certno                                                           "ZJHM",	    --证件号码			VARCHAR 32
            substr(a3.patientname, 0, 10)                                       "XM",	    --姓名			    VARCHAR 50	必填
            '100'                                                               "JZLXDM",   --就诊类型代码		VARCHAR 3	必填		 见CVA5101_01就诊类型代码
            case
            when a3.paykindcode = '01' then
            '07'
            when a3.paykindcode = '02' and a3.insutype = 'A' then
            '01'
            when a3.paykindcode = '02' and a3.insutype = 'B' then
            '02'
            else '99'
            end								                                    "BXLX",	    --医疗费用支付方式	VARCHAR4   必填		参见CV07.10.003-2022修订版 医疗费用来源类别
            nvl(a.mcardno, '-')						                            "YBZHBZ",	--医保账户标识	VARCHAR64  条件必填	医保账号, 医保患者必填
            decode(a3.person_area_flag, '1', '1', '2', '2', '3', '2', '5')      "WDBZ",	    --外地标志		VARCHAR1		    1：本市 2：外地 3：境外（港澳台） 4：外国 5：未知
            to_char(a.crte_time, 'YYYY-MM-DD HH24:MI:SS')			            "SFSJ",     --收费时间		DATETIME   必填
            ''								                                    "TFSJ",     --退费时间		DATETIME
            a3.deptcode							                                "YNJZKSDM",	--院内费用发生科室代码  VARCHAR 50	必填
            '系统处理'							                                "YNJZKSMC",	--院内费用发生科室名称  VARCHAR 100	必填
            '系统处理'							                                "JZKSDM",   --中心费用发生科室代码  VARCHAR 50	必填  《全民健康信息平台科室分类代码表》
            '系统处理'							                                "JZKSMC",   --中心费用发生科室名称  VARCHAR 100	必填  《全民健康信息平台科室分类代码表》
            round(a.totcost, 3)						                            "ZJE",		--总金额		        NUMERIC 18,3	必填   医院实际收取的费用 退费标志为2(退费)时, 传负数
            nvl(a1.ybinscp_scp_amt, 0)					                        "YBJE",		--医保结算范围金额	    NUMERIC 18,3	必填   医保结算范围金额
            nvl(round(a.pubcost, 3), 0)					                        "YBZFJE",   --医保支付金额		NUMERIC 18,3    必填   医保实际报销支付金额, 如无, 则填写0  退费标志为2(退费)时, 传负数
            round(a.totcost, 3) - nvl(round(a.pubcost, 3), 0) - a.paycost		"ZFJE",		--个人现金支付金额	    NUMERIC 18,3	必填   非医保报销范围, 由患者个人自付的医疗费用总额  退费标志为2(退费)时, 传负数
            a.paycost								                            "FLZJJE",	--个人账户支付金额     NUMERIC 18,3    必填   医疗保险患者的费用中属于个人支付部分的金额   退费标志为2(退费)时, 传负数
            0									                                "GHF",		--挂号费		        NUMERIC 18,3            退费标志为2(退费)时, 传负数
            0									                                "ZCF",			--诊察费		NUMERIC 18,3	必填	退费标志为2(退费)时, 传负数
            0									                                "JCF",			--检查费		NUMERIC 18,3	必填	退费标志为2(退费)时, 传负数
            0									                                "HYF",			--化验费		NUMERIC 18,3    必填	退费标志为2(退费)时, 传负数
            0									                                "ZHILF",		--治疗费		NUMERIC 18,3	必填	退费标志为2(退费)时, 传负数
            0									                                "SSF",			--手术费		NUMERIC 18,3	必填	退费标志为2(退费)时, 传负数
            0									                                "WSCLF",		--卫生材料费		    NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "XYF",			--西药费		        NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "YMF",			--疫苗费		        NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "ZYYPF",		--中药饮片费		    NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "ZCHYF",		--中成药费		    NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "ZHENLF",		--一般诊疗费		    NUMERIC 18,3	必填	    退费标志为2(退费)时, 传负数
            0									                                "QTF",			--其他门急诊费		NUMERIC 18,3	必填	    除以上费用外的其他门急诊费用  退费标志为2(退费)时，传负数
            a.OPTER_CODE								                        "SFCZYGH",		--收费操作员工号	    VARCHAR 64	    必填
            a.OPTER_NAME								                        "SFCZYXM",		--收费操作员姓名	    VARCHAR 50	    必填
            a4.certno								                            "SFCZYSFZHM",	--收费操作员身份证号码  VARCHAR 18
            to_char(sysdate, 'YYYY-MM-DD')						                "TBRQ"			--填报日期		    DATETIME	    必填	    本条数据采集时间，格式YYYY-MM-DD
        from opb_invoiceinfo a
            left join si_opb_setlinfo a1 on a.orgcode = a1.orgcode and a.regid = a1.MDTRT_ID and a.invoiceno = a1.INVONO and a.transtype = a1.transtype and a.chrg_bchno = a1.chrg_bchno
            join com_hospitalinfo a2 on a.orgcode = a2.orgcode
            join opr_register a3 on a.orgcode = a3.orgcode and a.regid = a3.regid
            join com_userinfo a4 on a.orgcode = a4.orgcode and a.crter = a4.userid
        where a.orgcode = #{orgcode}
            and a.totcost &lt;&gt; 0
            and a.crte_time &gt;= to_date(#{begtime}, 'yyyy-mm-dd hh24:mi:ss')
            and a.crte_time &lt;= to_date(#{endtime}, 'yyyy-mm-dd hh24:mi:ss')
    </select>

    <select id="queryMzsfjlbFxfy" resultType="java.util.HashMap">
        select
            a1.regid                    as "regid",
            a1.transtype                as "transtype",
            a1.invoiceno                as "invoiceno",
            a5.item_id                  as "feecode",
            sum(round(a.totcost, 3))    as "totcost"
        from
            opb_feedetail a
            join opb_invoiceinfo a1 on
                a.orgcode = a1.orgcode and
                a.regid = a1.regid and
                a.invoiceno = a1.invoiceno and
                a.transtype = a1.transtype and
                a.chrg_bchno = a1.chrg_bchno and
                a1.crte_time &gt;= to_date(#{begtime}, 'yyyy-mm-dd hh24:mi:ss') and
                a1.crte_time &lt;= to_date(#{endtime}, 'yyyy-mm-dd hh24:mi:ss')
            join com_hospitalinfo a2 on a.orgcode = a2.orgcode
            join opr_register a3 on a.orgcode = a3.orgcode and a.regid = a3.regid
            join com_userinfo a4 on a.orgcode = a4.orgcode and a.crter = a4.userid
            join
                (
                    select a52.orgcode, a51.item_id, a52.his_item_id
                            from si_yt_report_item a51, si_yt_report_item_compare a52
                                where a51.module_rid = a52.module_rid
                                        and a51.type_rid = a52.type_rid
                                        and a51.rid = a52.item_rid
                                        and a51.type_rid = '202311271641491389287500000000'
                                        and a52.orgcode = #{orgcode}
                ) a5 on a.orgcode = a5.orgcode and a.feecode = a5.his_item_id
        where a.orgcode = #{orgcode}
                and a.totcost &lt;&gt; 0
        group by a1.regid,
                 a1.transtype,
                 a1.invoiceno,
                 a5.item_id
    </select>



</mapper>