<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryMzsfmxb" resultType="java.util.HashMap">
        select
            a2.orgcode                                        		    "YLJGDM",	--医疗机构代码		VARCHAR	22	必填	    复合主键：采用22位“卫生机构代码”
            a1.rid                                          		    "SFMXLSH",	--收费明细流水号	    VARCHAR	32	必填	    复合主键
            a1.transtype                                      		    "TFBZ",	    --退费标志		    VARCHAR	1	必填	    复合主键：1：收费 2：退费
            a2.orgname                                        		    "YLJGMC",	--医疗机构名称		VARCHAR	70	必填	    医院执业许可第一名称
            '0'                                              		    "FYDM",	    --分院代码		    VARCHAR	20	必填	    记录分院代码（内码）,如无分院，则传0
            ''								                            "FYMC",	    --分院名称		    VARCHAR	120	条件必填	分院代码不为0时必填
            a1.chrg_bchno                                     		    "SFLSH",	--收费流水号		    VARCHAR	64	必填		关联收费记录表
            a1.regid                                          		    "JZLSH",	--就诊流水号		    VARCHAR	32	必填		与《门诊就诊记录表》关联
            a1.invoiceno                                      		    "FPH",	    --发票号		        VARCHAR	64	必填		未结算费用填写默认值“/”,已结算费用填写发票号。
            '1'                                              		    "KLX",	    --卡类型		        VARCHAR	16	必填		请按照以下优先级顺序填写：1：患者主索引号、2：身份证号、3：医保卡号，如果都没有则填写门诊就诊流水号
            a1.regid                                            		"KH",		--卡号			    VARCHAR	64	必填
            '01'                                        		  	    "ZJLX",	    --证件类型		    VARCHAR	2		    参见CV02.01.101-2022修订版 身份证件类别代码 优先使用身份证
            a3.certno                                         		    "ZJHM",	    --证件号码		    VARCHAR	32
            substr(a3.patientname, 0, 10)					            "XM",		--姓名			    VARCHAR	50	必填
            a1.regdpcd                                       		    "YNJZKSDM",	--院内费用发生科室代码	VARCHAR	50	必填
            '程序处理'                             		  		        "YNJZKSMC",	--院内费用发生科室名称	VARCHAR	100	必填
            '程序处理'                            	  			        "JZKSDM",	--中心费用发生科室代码	VARCHAR	50	必填	    参见《全民健康信息平台科室分类代码表》
            '程序处理'                          	  			            "JZKSMC",	--中心费用发生科室名称	VARCHAR	100	必填	    参见《全民健康信息平台科室分类代码表》
            a1.execdpcd                                       		    "YNZXKSBM",	--院内执行科室编码	    VARCHAR	50
            a1.execdpnm                                       		    "YNZXKSMC",	--院内执行科室名称	    VARCHAR	100
            '程序处理'                                        		    "ZXKSBM",	--中心执行科室编码	    VARCHAR	50		    参见《全民健康信息平台科室分类代码表》
            '程序处理'                                      		        "ZXKSMC",	--中心执行科室名称	    VARCHAR	100		    参见《全民健康信息平台科室分类代码表》
            '100'                                            		    "JZLXDM",	--就诊类型代码		VARCHAR	3	必填	    参见 CVA5101_01就诊类型代码
            case
                when a3.paykindcode = '01'
                    then '07'
                when a3.paykindcode = '02' and a3.insutype = 'A'
                    then '01'
                when a3.paykindcode = '02' and a3.insutype = 'B'
                    then '02'
                else '99'
            end                                		  		            "BXLX",	    --医疗费用支付方式	    VARCHAR	4	必填	    参见 CV07.10.003-2022修订版 医疗费用来源类别
            nvl(a1.feecode, '-')						                "MXFYLB",	--明细费用类别		VARCHAR	2	必填	    参见 CVA5105明细费用类别
            case
            when a1.drugflag = '1'
            then '0'
            else '1'
            end 								                        "MXXMLB",	--明细项目类别		VARCHAR	1	必填	0：药品 1：项目
            to_char(a.crte_time, 'YYYY-MM-DD HH24:MI:SS')      		    "STFSJ",	--收退费时间		    DATETIME	必填
            '-'           		  					                    "YPID",	    --国家药品ID		    VARCHAR	64	条件必填	明细项目类别为“药品”时填写 三级医院必填; 二级医院有条件的填. 填写国家药管平台药品采购唯一性识别码YPID(V8.3) V8.3版本中不包含的药品填"-".
            a1.itemcode                                       		    "MXXMBM",	--院内明细项目编码	    VARCHAR	128	必填
            a1.itemname                                       		    "MXXMMC",	--院内明细项目名称	    VARCHAR	128	必填
            '程序处理'                       				            "ZXDM",	    --中心明细项目代码	    VARCHAR	32	必填	耗材、服务项目参见《全民健康信息平台医疗服务项目价格表》药品参见医保码		草药和自制剂参见《全民健康信息平台制剂、中草药医保编码》。	其他填写999
            '程序处理'                       				            "ZXMC",	    --中心明细项目名称	    VARCHAR	200	必填
            nvl(a1.specs, '-')                                		    "MXXMGG",	--明细项目规格		VARCHAR	32	必填
            a1.priceunit                                      		    "MXXMDW",	--明细项目单位		VARCHAR	32	必填
            round(a1.unitprice, 3)                            		    "MXXMDJ",	--明细项目单价		NUMERIC	18,3	必填
            round(a1.qty, 3)                                  		    "MXXMSL",	--明细项目数量		NUMERIC	10,3	必填
            round(a1.totcost, 3)                              		    "MXXMJE",	--明细项目金额		NUMERIC	18,3	必填	退费标志为2（退费）时，传负数
            a.crter                                        			    "SFCZYGH",	--收费操作员工号	    VARCHAR	64	必填
            nvl(a.crter_name, '-')                              	    "SFCZYXM",	--收费操作员姓名	    VARCHAR	50	必填
            a4.certno                                         		    "SFCZYSFZHM",	--收费操作员身份证号码	VARCHAR	18
            to_char(sysdate, 'YYYY-MM-DD')                   		    "TBRQ" 	        --填报日期		    DATETIME	必填	本条数据采集时间，格式YYYY-MM-DD
        from
            opb_invoiceinfo a
            join opb_feedetail a1 on a.orgcode = a1.orgcode and a.regid = a1.regid and a.invoiceno = a1.invoiceno and a.transtype = a1.transtype and a.chrg_bchno = a1.chrg_bchno
            join com_hospitalinfo a2 on a.orgcode = a2.orgcode
            join opr_register a3 on a.orgcode = a3.orgcode and a.regid = a3.regid
            join com_userinfo a4 on a.orgcode = a4.orgcode and a.crter = a4.userid
        where a.orgcode = #{orgcode}
                and a.totcost &lt;&gt; 0
                and a.crte_time &gt;= to_date(#{begtime}, 'yyyy-mm-dd hh24:mi:ss')
                and a.crte_time &lt;= to_date(#{endtime}, 'yyyy-mm-dd hh24:mi:ss')
    </select>
</mapper>