<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.healthplatform.dao.his.HealthplatfromDAO">
    <select id="queryZyzdmxbg" resultType="java.util.HashMap">
        select
            a.orgcode						                "YLJGDM",		--	医疗机构代码 		VARCHAR	22	必填	    复合主键：采用22位"卫生机构代码"
            a.rid							                "ZYZDLSH",		--	诊断流水号 		VARCHAR 32	必填 	复合主键：见说明（1）
            a.regid							                "JZLSH",		--	就诊流水号 		VARCHAR 32	必填 	用于与住院就诊记录表或门诊就诊记录表关联的外键
            '1'							                    "MZZYBZ",		--	门诊/住院标志 	VARCHAR 2	必填 	ZD_MZZYBZ 门急诊住院标志
            nvl(b.cardno, '-')					            "KH",			--	卡号 			VARCHAR 64	必填
            '8'							                    "KLX",			--	卡类型 			VARCHAR 16	必填 	参见CVA5104就诊卡类型
            null							                "ZJHM",			--	证件号码		    VARCHAR	32
            null							                "ZJLX",			--	证件类型		    VARCHAR	2		    参见CV02.01.101身份证件类别代码
            '1'                                   			"ZDLXQF",		--	诊断类型区分 		VARCHAR 1	必填 	编码。第一位，1：西医、2：中医
            '2'                                       		"ZDLB",			--	诊断类别代码 		VARCHAR 2	必填 	西医参见CV5502.20   中医参见CV5502.21   病案填写（1：出院诊断 2：门诊诊断 9：.病理诊断）
            to_char(a.crte_time, 'YYYY-MM-DD HH24:MI:SS')	"ZDSJ",			--	诊断时间 		DATETIME
            '02'							                "BMLX",			--	诊断编码类型 		VARCHAR 2	必填 	01：ICD10	02：国标-21
            null							                "ZYZBZZBZ",		--	中医主病主证标志	VARCHAR 1	 	    中医诊断必填，1：主病 2：主证
            a.dise_code						                "ZDBM",			--	诊断编码 		VARCHAR 64	必填 	西医：参见《疾病分类与代码(ICD-10)》 中医：参见 GB/T 15657-2021
            nvl(a.dise_name, '-')					        "ZDSM",			--	诊断说明 		VARCHAR 512	必填 	文字描述
            '1'                              			    "ZYZDBZ",		--	主要诊断标志 		VARCHAR 1	必填 	1：第一诊断 2：第二诊断 3：第三诊断
            '0'                          				    "YZDBZ",		--	疑似诊断标志 		VARCHAR 1	必填 	参见 CV05.01.002 诊断状态代码表
            null							                "CYQKBM",		--	出院情况编码 		VARCHAR 1		    1：治愈 2：好转 3：未愈 4：死亡 5：其它 出院诊断时必填
            null							                "RYBQDM",		--	入院病情代码		VARCHAR 1		    1：有明确诊断 2：临床未确定 3：情况不明 4：无法确定 出院诊断时必填
            to_char(sysdate, 'YYYY-MM-DD')				    "TBRQ"			--	填报日期		    DATETIME	必填	    本条数据采集时间，格式YYYY-MM-DD
        from opm_diagnose a, opr_register b
            where a.orgcode = b.orgcode
                    and a.regid = b.regid
                    and b.REGISTSTATE = '1'
                    and a.main_flag = '1'  --只抽取主诊断
                    and a.dise_type = '1'  --只处理西医
                    and a.orgcode = #{orgcode}
                    and a.crte_time &gt;= to_date(#{begtime}, 'YYYY-MM-DD HH24:MI:SS')
                    and a.crte_time &lt;= to_date(#{endtime}, 'YYYY-MM-DD HH24:MI:SS')
        union all
        select
            a.orgcode                                     "YLJGDM",			--	医疗机构代码 		VARCHAR	22	必填	    复合主键：采用22位"卫生机构代码"
            a.rid                                         "ZYZDLSH",		--	诊断流水号 		VARCHAR 32	必填 	复合主键：见说明（1）
            a.regid                                       "JZLSH",			--	就诊流水号 		VARCHAR 32	必填 	用于与住院就诊记录表或门诊就诊记录表关联的外键
            '1'                                           "MZZYBZ",			--	门诊/住院标志 	VARCHAR 2	必填 	ZD_MZZYBZ 门急诊住院标志
            nvl(b.cardno, '-')                            "KH",			    --	卡号 			VARCHAR 64	必填
            '8'                                           "KLX",			--	卡类型 			VARCHAR 16	必填 	参见CVA5104就诊卡类型
            null                               	          "ZJHM",			--	证件号码		    VARCHAR	32
            null                                          "ZJLX",			--	证件类型		    VARCHAR	2		    参见CV02.01.101身份证件类别代码
            '2'					                          "ZDLXQF",			--	诊断类型区分 		VARCHAR 1	必填 	编码。第一位，1：西医、2：中医
            '2'                                           "ZDLB",			--	诊断类别代码 		VARCHAR 2	必填 	西医参见CV5502.20   中医参见CV5502.21   病案填写（1：出院诊断 2：门诊诊断 9：.病理诊断）
            to_char(a.crte_time, 'YYYY-MM-DD HH24:MI:SS') "ZDSJ",			--	诊断时间 		DATETIME
            '02'                                          "BMLX",			--	诊断编码类型 		VARCHAR 2	必填 	01：ICD10	02：国标-21
            '1'					                          "ZYZBZZBZ",		--	中医主病主证标志	VARCHAR 1	 	    中医诊断必填，1：主病 2：主证
            a.dise_code                                   "ZDBM",			--	诊断编码 		VARCHAR 64	必填 	西医：参见《疾病分类与代码(ICD-10)》 中医：参见 GB/T 15657-2021
            nvl(a.dise_name, '-')                         "ZDSM",			--	诊断说明 		VARCHAR 512	必填 	文字描述
            '1'                              	          "ZYZDBZ",			--	主要诊断标志 		VARCHAR 1	必填 	1：第一诊断 2：第二诊断 3：第三诊断
            '0'                          		          "YZDBZ",			--	疑似诊断标志 		VARCHAR 1	必填 	参见 CV05.01.002 诊断状态代码表
            null                                          "CYQKBM",			--	出院情况编码 		VARCHAR 1		    1：治愈 2：好转 3：未愈 4：死亡 5：其它 出院诊断时必填
            null                                          "RYBQDM",			--	入院病情代码		VARCHAR 1		    1：有明确诊断 2：临床未确定 3：情况不明 4：无法确定 出院诊断时必填
            to_char(sysdate, 'YYYY-MM-DD')                "TBRQ" 			--	填报日期  		DATETIME   	必填 	本条数据采集时间，格式YYYY-MM-DD
        from opm_diagnose a, opr_register b
            where a.orgcode = b.orgcode
                    and a.regid = b.regid
                    and b.REGISTSTATE = '1'
                    and a.main_flag = '1'  --只抽取主诊断
                    and a.dise_type = '2'  --只处理中医
                    and a.orgcode = #{orgcode}
                    and a.crte_time &gt;= to_date(#{begtime}, 'YYYY-MM-DD HH24:MI:SS')
                    and a.crte_time &lt;= to_date(#{endtime}, 'YYYY-MM-DD HH24:MI:SS')
        union all
        select
            a.orgcode								                            "YLJGDM",	--	医疗机构代码 		VARCHAR	22	必填	    复合主键：采用22位“卫生机构代码”
            a.rid									                            "ZYZDLSH",	--	诊断流水号 		VARCHAR 32	必填 	复合主键：见说明（1）
            a.inid									                            "JZLSH",	--	就诊流水号 		VARCHAR 32	必填 	用于与住院就诊记录表或门诊就诊记录表关联的外键
            '2'									                                "MZZYBZ",	--	门诊/住院标志 	VARCHAR 2	必填 	ZD_MZZYBZ 门急诊住院标志
            nvl(b.cardno, '-')							                        "KH",		--	卡号 			VARCHAR 64	必填
            '8'									                                "KLX",		--	卡类型 			VARCHAR 16	必填 	参见CVA5104就诊卡类型
            null									                            "ZJHM",		--	证件号码		    VARCHAR	32
            null									                            "ZJLX",		--	证件类型		    VARCHAR	2		    参见CV02.01.101身份证件类别代码
            '1'									                                "ZDLXQF",	--	诊断类型区分 		VARCHAR 1	必填 	编码。第一位，1：西医、2：中医
            '1'									                                "ZDLB",		--	诊断类别代码 		VARCHAR 2	必填 	西医参见CV5502.20   中医参见CV5502.21   病案填写（1：出院诊断 2：门诊诊断 9：.病理诊断）
            to_char(a.crte_time, 'YYYY-MM-DD HH24:MI:SS')				        "ZDSJ",		--	诊断时间 		DATETIME
            '02'									                            "BMLX",		--	诊断编码类型 		VARCHAR 2	必填 	01：ICD10	02：国标-21
            null									                            "ZYZBZZBZ",	--	中医主病主证标志	VARCHAR 1	 	    中医诊断必填，1：主病 2：主证
            a.dise_code								                            "ZDBM",		--	诊断编码 		VARCHAR 64	必填 	西医：参见《疾病分类与代码(ICD-10)》 中医：参见 GB/T 15657-2021
            nvl(a.dise_name, '-')							                    "ZDSM",		--	诊断说明 		VARCHAR 512	必填 	文字描述
            '1'									                                "ZYZDBZ",	--	主要诊断标志 		VARCHAR 1	必填 	1：第一诊断 2：第二诊断 3：第三诊断
            '0'									                                "YZDBZ",	--	疑似诊断标志 		VARCHAR 1	必填 	参见 CV05.01.002 诊断状态代码表
            decode(b.outreason, '1', '1', '2', '2', '3', '3', '4', '4', '5')	"CYQKBM",	--	出院情况编码 		VARCHAR 1		    1：治愈 2：好转 3：未愈 4：死亡 5：其它 出院诊断时必填
            '2'									                                "RYBQDM",	--	入院病情代码		VARCHAR 1		    1：有明确诊断 2：临床未确定 3：情况不明 4：无法确定 出院诊断时必填
            to_char(sysdate, 'YYYY-MM-DD')						                "TBRQ"		--	填报日期		    DATETIME	必填	    本条数据采集时间，格式YYYY-MM-DD
        from ipr_diagnose a, ipr_inpatientinfo b
            where a.orgcode = b.orgcode
                    and a.inid = b.inid
                    and b.instate &lt;&gt; '0'
                    and a.main_flag = '1'  --只抽取主诊断
                    and a.dise_type = '1'  --只处理西医, 目前住院没有中医诊断
                    and a.orgcode = #{orgcode}
                    and a.crte_time &gt;= to_date(#{begtime}, 'YYYY-MM-DD HH24:MI:SS')
                    and a.crte_time &lt;= to_date(#{endtime}, 'YYYY-MM-DD HH24:MI:SS')
    </select>

</mapper>