<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.hospitalinfection.dao.JP006DAO">
    <select id="queryData" resultType="java.util.HashMap">
        select a.RID as "MZID", --唯一主键
        a.PATIENTNO as "PatientId",--病例号
        m.num as "VisitId",--就诊次数
        a.PATIENTNAME as "PatientName",--患者姓名
        b.dictname as "Sex",--患者性别
        a.BRDY as "BirthDate",-- 出生日期
        regexp_substr(FN_NEWBIRTHTOAGE(a.brdy),'[0-9]+') as "Age",-- 年龄
        replace(FN_NEWBIRTHTOAGE(a.BRDY),regexp_substr(FN_NEWBIRTHTOAGE(a.BRDY),'[0-9]+'),'') as "AgeUnit",-- 年龄单位
        a.WEIGHT as "Weight",-- 体重
        a.TEL as "Tel",-- 电话
        case
        when a.PSNCERTTYPE='01' then a.CERTNO
        else null as "IDCard",-- 身份证号
        a.HOME as "Address",-- 现住址
        c.RESIHOME as "RegisterAdd",-- 户籍地址
        c.NATY as Nation,-- 民族
        c.LINKMANNAME as "ParentName",-- 家长姓名
        e.dictname as "Marriage",-- 婚姻状况
        c.WORKNAME as "WorkUnit",-- 工作地址/学校
        null as "Education",-- 教育情况
        o.DISE_NAME as "DiagnosisName",-- 诊断名称
        a.DEPTCODE as "DiagnosisDeptId",-- 就诊科室编号
        a.DEPTNAME as "DiagnosisDeptName",-- 就诊科室名称
        a.REG_TIME as "DiagnosisDt",-- 就诊日期
        a.DOCCODE as "DiagnosisDocId",-- 就诊医生工号
        a.DOCNAME as "DiagnosisDocName",-- 就诊医生姓名
        decode(a.REGLEVLNAME,'1',0,'0',1) as "IsReturnvisit",-- 复诊标识
        null as "StartDt",-- 发病日期
        null as "DeathDt"-- 死亡日期
        from OPM_DIAGNOSE o,OPR_REGISTER a
        left join com_dictcodeinfo b on b.typecode='GEND' and a.SEXCODE=b.dictcode
        left join COM_PATIENTINFO c on a.orgcode=c.orgcode and a.patientno=c.patientno
        left join com_dictcodeinfo e on e.typecode='MRG_STAS' and c.MARRIED=e.dictcode
        left join OPM_DIAGNOSE o on a.orgcode =o.orgcode and a.regid =o.regid and o.MAIN_FLAG='1' and o.ISVALID='1'
        left join (select row_number() over(partition by p.PATIENTNO order by p.crte_time asc) as num, p.* from
        OPR_REGISTER p where p.orgcode =#{OrgCode}) m on m.orgcode=a.orgcode and m.regid=a.regid
        where
        orgcode=#{OrgCode}
        <if test="StartDate!='' and StartDate!=null">and REG_TIME &gt;=to_date(StartDate,'yyyy-mm-dd hh24:mi:ss')</if>
        <if test="EndDate!='' and EndDate!=null">and REG_TIME &lt;=to_date(EndDate,'yyyy-mm-dd hh24:mi:ss')</if>
    </select>
</mapper>