<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.hospitalinfection.dao.JP009DAO">
    <select id="queryData" resultType="java.util.HashMap">
        select
            a.rid as "ID" ,-- 记录编号
            b.inhosno as "ZYID"  ,--住院号
            b.patientid as "PatientId",-- 病例号
            a.NEWSUBJECTCODE as "InDeptId" ,-- 转入科室编号
            a.CRTE_TIME as "InDeptAt"  ,--入科时间
            a.OLDSUBJECTCODE as "OutDeptId"  ,--转出科室编号
            a.CRTE_TIME as "OutDeptAt"  ,--出科时间
            c.bedno as "BedNo"	--床号
        from ipr_inpatientinfo b,IPR_SHIFTINFO a
                left join inr_receiveinfo c on a.orgcode =c.orgcode and a.inid=c.inid
        where a.orgcode =b.orgcode and a.inid=b.inid
        and a.shifttype='RB'
          and a.orgcode =#{map.OrgCode}
  <if test="map.ID!='' and map.ID!=null">and b.inhosno=#{map.ID}</if>
        <if test="map.StartDate!='' and map.StartDate!=null">and a.crte_time &gt;=to_date(#{map.StartDate},'yyyy-mm-dd hh24:mi:ss')</if>
        <if test="map.EndDate!='' and map.EndDate!=null">and a.crte_time &lt;=to_date(#{map.EndDate},'yyyy-mm-dd hh24:mi:ss')</if>

    </select>
</mapper>