<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.his.Dept_infoDAO">
    <select id="queryDept_info" resultType="java.util.HashMap">
        select deptid      as "DeptId",--	系统自增加id
               depttype    as "DeptType",--		科室分类
               deptcode    as "DeptCode",--	科室编码
               deptname    as "DeptName",--	科室名称
               deptspell   as "DeptSpell",--	科室拼音
               stateflag   as "StateFlag",--	是否删除
               branch      as "Branch",--	医院分院标识
               ybdept      as "YbDept",--	医保科室
               bigdeptname as "bigDeptName" --		所属大科室名称

        from SI_DEPT_INFO
        where orgcode = #{map.Hoscode}
    </select>
</mapper>