<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.his.MsDiagInfo_zyDAO">
    <select id="queryMsDiagInfo_zy" resultType="java.util.HashMap">
        select id       as "Id",--系统自增加id
               syh      as "Syh",--就诊唯一编号
               icdcode  as "IcdCode",--诊断代码
               icdname  as "IcdName",--诊断名称
               diagdate as "DiagDate",--诊断时间
               diagdoct as "DiagDoct",--诊断医生代码
               remark   as "Remark" --备注
        from SI_MSDIAGINFO_ZY where orgcode =#{map.Hoscode}
        <if test="map.beginDate!='' and map.beginDate!=null ">and diagdate&gt;=to_char(#{map.beginDate},'yyyy-mm-dd hh24:mi:ss')</if>
        <if test="map.endDate!='' and map.endDate!=null ">and diagdate&lt;=to_char(#{map.endDate},'yyyy-mm-dd hh24:mi:ss')</if>

    </select>
</mapper>