<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.his.MsPresInfo_zyDAO">
    <select id="queryMsPresInfo_zy" resultType="java.util.HashMap">
        select a.preid         as "PreId",--系统自增加id
           a.syh           as "Syh",--就诊唯一编号
           a.precode       as "PreCode",--住院号
           a.precodeitem   as "PreCodeItem",--医嘱序号
           a.drugcode      as "DrugCode",--药品代码
           a.drugname      as "DrugName",--药品名称
           a.drugspec      as "DrugSpec",--药品规格
           a.dcl           as "Dcl",--单次剂量
           a.dclunit       as "DclUnit",--剂量单位
           a.price         as "Price",--药品单价
           a.qnty          as "Qnty",--药品数量
           a.qntyunit      as "QntyUnit",--数量单位
           a.frequency     as "Frequency",--频次
           a.frequencycode as "FrequencyCode",--频次代码
           a.frequencyname as "FrequencyName",--频次名称
           a.useway        as "UseWay",--给药途径
           a.usewayname    as "UseWayName",--给药途径名称
           a.usegroupno    as "UseGroupNo",--用药组号
           a.begindate     as "BeginDate",--起用时间
           a.enddate       as "EndDate",--停用时间
           a.drugreason    as "DrugReason",--用药指征
           a.drugaim       as "DrugAim",--用药目的
           a.predate       as "PreDate",--医嘱日期
           a.pretype       as "PreType",--医嘱类型
           a.totalday      as "TotalDay",--单日总量
           a.drugmoney     as "DrugMoney",--药品金额
           a.predoct       as "PreDoct",--医嘱医生
           a.isoutdrug     as "IsOutDrug",--是否出院带药
           a.isskintest    as "IsSkinTest"--是否皮试
        from SI_MSPRESINFO_ZY a,SI_MSSYINFO_ZY b where a.orgcode=b.orgcode and a.syh=b.syh and  a.orgcode =#{map.Hoscode}
           <if test="map.beginDate!='' and map.beginDate!=null ">and b.gendate&gt;=#{map.beginDate}</if>
           <if test="map.endDate!='' and map.endDate!=null ">and b.gendate&lt;=#{map.endDate}</if>

    </select>
</mapper>