<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.emr.dao.his.EmrDAO">
    <select id="queryBaza" resultType="java.util.HashMap">
        select *  from ba_baza
        where orgcode = #{map.orgCode} and baza27 &gt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
        and baza27 &lt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
    </select>
    <select id="queryBaf1" resultType="java.util.HashMap">
        select a.*  from ba_baf1 a,ba_baza b
        where a.orgcode=b.orgcode and a.baza00=b.baza00  and   a.orgcode = #{map.orgCode} and
        b.baza27 &gt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
        and b.baza27 &lt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
    </select>
    <select id="queryBaf4" resultType="java.util.HashMap">
        select a.*  from ba_baf4 a,ba_baza b
        where a.orgcode=b.orgcode and a.baza00=b.baza00  and  a.orgcode = #{map.orgCode} and
        b.baza27 &gt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
        and b.baza27 &lt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
    </select>
    <select id="queryBaf6" resultType="java.util.HashMap">
        select a.*  from ba_baf6 a,ba_baza b
        where a.orgcode=b.orgcode and a.baza00=b.baza00  and  a.orgcode = #{map.orgCode} and
        b.baza27 &gt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
        and b.baza27 &lt;=to_char(to_date(#{map.startDate},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd')
    </select>
</mapper>