<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.lis.MsLabInfo_zy_lisDAO">
    <select id="queryMsLabInfo_zy_lis" resultType="java.util.HashMap">
        SELECT
        b.org_code as orgcode  ,
        c.exe_csqn AS labno,-- 检验单号
        c.his_item_name AS labname,-- 送检项目名称
        b.sample_type AS democode,-- 样本编号
        d.dict_name AS demoname,-- 样本名称
        '' AS syh,-- 住院唯一编号
        b.patient_id AS blcode,-- 住院病历号
        '2' AS labtype,-- 送检类别 1，细菌 2 其他
        date_format( b.sample_reach_time, '%Y-%m-%d %T' ) AS labdate  -- 送检日期
        FROM
        lis_test_reg b
        LEFT JOIN lis_dictionary_detail d ON d.type_code = 'LIS_SAMPLE_TYPE'
        AND d.dict_code = b.sample_type
        AND d.org_code = b.org_code
        LEFT JOIN lis_test_reg_his_item_detail c ON b.reg_id = c.reg_id
        AND b.org_code = b.org_code
        WHERE
        b.patient_type = 'I'
        AND b.org_code = #{map.Hoscode}
        and c.exe_csqn is not null
        and c.exe_csqn	&lt;&gt; ''
        AND b.get_sample_date &gt;= str_to_date( #{map.beginDate}, '%Y-%m-%d %T' )
        AND b.get_sample_date &lt;= str_to_date( #{map.endDate}, '%Y-%m-%d %T' )
        AND b.sample_reach_time is not null
    </select>
</mapper>