<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.MsDrugInfoDAO">
    <select id="queryMsDrugInfo" resultType="java.util.HashMap">
        select drugid          as "DrugId",--系统自增加id
               drugcode        as "DrugCode",--	药品代码
               drugname        as "DrugName",--药品名称
               drugspell       as "DrugSpell",--药品首拼
               drugspec        as "DrugSpec",--药品规格
               drugunit        as "DrugUnit",--药品单位
               drugprice       as "DrugPrice",--药品单价
               druggeneralname as "DrugGeneralName",--药品通用名
               drugmanufactory as "DrugManuFactory",--	生产厂商
               iskss           as "IsKss",--是否抗生素
               kssclass        as "KssClass",--抗生素分级
               drugflag        as "DrugFlag",--中西药标识
               isbasic         as "IsBasic",--国家基本药
               islocbasic      as "IsLocBasic",--省基本药物
               dosename        as "DoseName",--剂型名称
               ddd             as "DDD",--DDD值
               ddddw           as "DDDDW",--DDD单位
               dcl             as "Dcl",--表示量
               ucl             as "Ucl",--包装量
               tcl             as "Tcl",--整量
               drugtype        as "DrugType",--药品分类
               castrate        as "CastRate",--转换率
               createdate      as "CreateDate",--创建日期
               branch          as "Branch",--医院分院
               isenable        as "IsEnable",--是否停用
               dosageform      as "DosageForm" --药品剂型

               from SI_MSDRUGINFO where orgcode =#{map.Hoscode}
    </select>
</mapper>