<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.middleware.rationaldruguse.dao.MsSyInfo_zyDAO">
    <select id="queryMsSyInfo_zy" resultType="java.util.HashMap">
        select syid         as SyId,--系统自增加id
               syh          as Syh,--就诊唯一号
               precode      as PreCode,--住院号
               blcode       as BlCode,--病历号
               cureresult   as CureResult,--治疗结果
               deptcode     as DeptCode,--住院科室
               doctcode     as DoctCode,--住院医生
               totalmoney   as TotalMoney,--总金额
               indiag       as InDiag,--入院诊断
               outdiag      as OutDiag,--出院诊断
               pdoctcode    as PDoctCode,--审核调配药师
               ddoctcode    as DDoctCode,--核对发药药师
               ddeptcode    as DDeptCode,--执行部门
               indate       as InDate,--入院日期
               outdate      as OutDate,--	出院日期
               beddoct      as BedDoct,--床位医生代码
               liverstatus  as LiverStatus,--	肝功能状况
               kidneystatus as KidneyStatus,--肾功能状况
               womanstatus  as WomanStatus,--妊娠/哺乳
               branch       as Branch,--医院分院
               wardcode     as WardCode,--病区编码
               diaginfo     as DiagInfo,--诊断信息
               gendate      as GenDate,--出院完成时间/最后更新时间
               isout        as IsOut,--是否出院
               gestation    as Gestation --孕期（周）
        from SI_MSSYINFO_ZY  where orgcode =#{map.Hoscode}
           <if test="map.beginDate!='' and map.beginDate!=null ">and rectime&gt;=to_char(#{map.beginDate},'yyyy-mm-dd hh24:mi:ss')</if>
           <if test="map.endDate!='' and map.endDate!=null ">and rectime&lt;=to_char(#{map.endDate},'yyyy-mm-dd hh24:mi:ss')</if>

    </select>
</mapper>